.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: white;
}
.mainflag {
    width: 30%;
    display: block;
    margin: 0 auto;
}
.topbar {
    top: 0px;
    position: sticky;
    background-color: grey;
}
.topbar::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px; /* Pushes it exactly below your element */
    width: 100%;
    height: 10px; /* Your 100px border thickness */
    
    /* We match the RGB channels exactly so it only fades the alpha channel */
    background: linear-gradient(to bottom, rgba(128, 128, 128, 0.5), rgba(128,128,128,0));
    
    pointer-events: none; /* Prevents it from blocking clicks */
}
.topbarflag {
    height: 100px;
    margin-right: 60%;
}
.bodytext {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
.coolbutton {
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    border: 4px solid greenyellow;
    border-radius: 4px;
    width: 200px;
    text-align: center;
    display: block;
    margin: 0 auto;
}
.signupbutton,
.loginbutton {
    display: inline-block;
    vertical-align: 120%;
    border: 4px;
    border-color: greenyellow;
    background-color: greenyellow;
    border-radius: 40px;
    width: 160px;
    height: 60px;
    font-size: 30px;
    font-style: bold;
    border-style: solid;
}
.signupbutton:hover,
.loginbutton:hover {
    cursor: pointer;
    background-color: aqua;
    transition: background-color 0.4s;
}
.loginsignup {
    background-color: #a5a5a5;
    border-radius: 40px;
    width: 30%;
    margin-left: 35%;
    height: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
    font-style: bold;
}